name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: "4.0"
            gemfile: Gemfile
          - ruby: 3.4
            gemfile: gemfiles/activesupport80.gemfile
            redis: latest
          - ruby: 3.3
            gemfile: gemfiles/activesupport72.gemfile
          - ruby: 3.2
            gemfile: gemfiles/activesupport71.gemfile
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - if: ${{ matrix.redis == 'latest' }}
        run: |
          curl -fsSL https://packages.redis.io/gpg | sudo gpg --dearmor -o /usr/share/keyrings/redis-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/redis-archive-keyring.gpg] https://packages.redis.io/deb $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/redis.list

      - run: |
          sudo apt-get update
          sudo apt-get install memcached redis-server
          sudo systemctl start memcached
          sudo systemctl start redis-server
          redis-cli info | grep version
      - run: bundle exec rake test

      - run: |
          sudo systemctl stop redis-server
          sleep 3
          sudo apt-get install valkey-server
          sudo systemctl start valkey-server
          valkey-cli info | grep version
      - run: bundle exec rake test
